@{
    ViewData["Title"] = "Upload Excel File";
}

<h1>Upload Excel File</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select Excel File</label>
                <input type="file" name="file" id="file" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>